# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work


.metals/
.vscode/
.bsp/
.scala-build/
grokking_algorithms/.metals/
grokking_algorithms/.vscode/
grokking_algorithms/chapter_1/.metals/
grokking_algorithms/chapter_1/.vscode/
grokking_algorithms/chapter_1/binary_search/.scala-build/
grokking_algorithms/chapter_1/binary_search/.bsp
grokking_algorithms/chapter_2/.metals/
grokking_algorithms/chapter_2/.vscode/
grokking_algorithms/chapter_2/.bsp
grokking_algorithms/chapter_2/.scala-build/
grokking_algorithms/chapter_3/.metals/
grokking_algorithms/chapter_3/.vscode/
grokking_algorithms/chapter_3/.bsp
grokking_algorithms/chapter_3/.scala-build/
grokking_algorithms/chapter_4/.metals/
grokking_algorithms/chapter_4/.vscode/
grokking_algorithms/chapter_4/.bsp
grokking_algorithms/chapter_4/.scala-build/